

.blur {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -o-filter: blur(0);
    -ms-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
    background-color: none;

}

strong {
    font-weight: 700;
}



.blur.on {
    -webkit-filter: blur(80px);
    -moz-filter: blur(80px);
    -o-filter: blur(80px);
    -ms-filter: blur(80px);
    filter: blur(80px);
    opacity: 1;
}

.loadlogo {
    position: absolute;
    z-index:999999;

}

.loading-bg {
    position: fixed;
    background-image: url('../img/load-bg.jpg');
    background-size: cover;
    width:100%;
    height:100%;
    z-index: 1999;
    background-color: #6964ae;
}


.load-img {

    z-index: 2001;
}

.aib-logo {
    position: absolute;
    width: 60px;
    bottom: 20px;
    right: 20px;
}


.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: white;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px white, 0 0 5px white;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: white;
    border-left-color: white;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
}










body, p {
    font-family: 'Lato', sans-serif;
}

.lobster {
    font-family: 'Lobster', cursive;
}


div[role=main] section.demo {
    padding-top: 30px; }

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5; }

.code pre, .code code {
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.tabs dd.active a {
    background-color: #FFF; }

.code .tabs-content > .content {
    padding: 0;
    width: 100%; }

@media only screen and (max-device-width: 480px) {
    #plunk-btn {
        display: none; } }

/**
 * Animations
 */
/**
 * Foundation for Sites by ZURB
 * Version 6.2.3
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
.tooltip.ng-enter {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.25s;
    transition-delay: 0s;
    opacity: 0;
    transition-property: opacity; }

.tooltip.ng-enter.ng-enter-active {
    opacity: 1; }

.tooltip.ng-leave {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.25s;
    transition-delay: 0s;
    opacity: 1;
    transition-property: opacity; }

.tooltip.ng-leave.ng-leave-active {
    opacity: 0; }

.reveal-overlay.ng-enter {
    transition-duration: 500ms;
    transition-timing-function: linear;
    opacity: 0;
    transition-property: opacity; }

.reveal-overlay.ng-enter.ng-enter-active {
    opacity: 1; }

.reveal-overlay.ng-leave {
    transition-duration: 500ms;
    transition-timing-function: linear;
    opacity: 1;
    transition-property: opacity; }

.reveal-overlay.ng-leave.ng-leave-active {
    opacity: 0; }

.reveal.ng-enter {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier;
    transition-delay: 0s;
    transform: translateY(-100%);
    transition-property: transform, opacity;
    opacity: 0;
    backface-visibility: hidden; }

.reveal.ng-enter.ng-enter-active {
    transform: translateY(0);
    opacity: 1; }

.reveal.ng-leave {
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-duration: 0.25s;
    transform: scale(1);
    transition-property: transform, opacity;
    opacity: 1; }

.reveal.ng-leave.ng-leave-active {
    transform: scale(0);
    opacity: 0; }

.alert-box {
    background-color: #5592BB; }

.ng-submitted .ng-invalid:not(:focus), .ng-touched.ng-invalid:not(:focus) {
    background-color: rgba(236, 88, 64, 0.1);
    border-color: #ec5840; }

.marketing-topbar {
    background: white;
    font-size: 0.8125rem;
    font-weight: bold;
    z-index: 3;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ebeced;
}
.marketing-topbar::before, .marketing-topbar::after {
    content: ' ';
    display: table; }
.marketing-topbar::after {
    clear: both; }
.marketing-topbar ul:first-child {
    float: left; }
.marketing-topbar ul:last-child {
    float: right; }
.marketing-topbar .topbar-title > a {
    font-size: 1rem;
    opacity: 0.9; }
.marketing-topbar .topbar-title > a > img {
    position: relative;
    top: -1px; }
.marketing-topbar .menu a {
    height: 45px;
    line-height: 45px !important;
    color: #e6e6e6;
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
.marketing-topbar .menu a:hover:not(.button), .marketing-topbar .menu a:focus {
    background: black; }
.marketing-topbar .menu a.button {
    border-radius: 0;
    box-shadow: 0 0 0 transparent; }
.marketing-topbar .title {
    color: #8a8a8a;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8em;
    background: #2c2c2c; }
.marketing-topbar .is-active a {
    background: black; }
.marketing-topbar .menu img {
    position: relative;
    top: -2px; }
.marketing-topbar .menu:last-child {
    border-left: 1px solid #4e4e4e; }
.marketing-topbar .menu li:not(:last-child) {
    border-right: 1px solid #4e4e4e; }
.marketing-topbar .dropdown.menu .submenu {
    border: 0; }
.marketing-topbar .opens-right a {
    padding-right: 1rem !important; }
.marketing-topbar .opens-right a::after {
    display: none !important; }

.mobile-ofc {
    background: #121212;
    font-size: 0.8125rem;
    font-weight: bold; }
.mobile-ofc .menu a {
    height: 45px;
    line-height: 45px;
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0; }
.mobile-ofc .menu a:hover:not(.button), .mobile-ofc .menu a:focus {
    background: black; }
.mobile-ofc .menu a.button {
    border-radius: 0;
    box-shadow: 0 0 0 transparent; }
.mobile-ofc .title {
    color: #8a8a8a;
    padding: 10px;
    padding-left: 15px;
    font-size: 0.8em;
    background: #2c2c2c; }

.off-canvas a.close-button {
    color: #e6e6e6; }

.off-canvas .close-button:hover, .off-canvas .close-button:focus {
    color: #e6e6e6; }

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: 0.5rem;
    border: 1px solid white;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    -webkit-box-shadow: inset 0 0 0 rgba(10, 10, 10, 0.1); 
    box-shadow: inset 0 0px 0px rgba(10, 10, 10, 0.1); 
    border-radius: 0; 
    -webkit-transition: -webkit-box-shadow 0.5s, border-color 0.25s ease-in-out; 
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; 
    -webkit-appearance: none; 
    -moz-appearance: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
    border: 0px solid #8a8a8a;
    background-color: #fefefe;
    outline: none;
    -webkit-box-shadow: 0 0 0px #cacaca; 
    box-shadow: 0 0 0px #cacaca; 
    -webkit-transition: -webkit-box-shadow 0.5s, border-color 0.25s ease-in-out; 
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; 
}


.row-fixed {
    position: fixed;
    bottom: 0;
    background: white;
    padding: 13px 15px 0 10px;
    border-top: 1px solid #ebeced;



}

.fake-btn {
    float: right;
    width:186px;
    margin-right:20px;
    padding-top: 5px;
}

.rnd-btn {
    background: #eff0f0;
    color: #817cce;
    text-align: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    font-size:30px;
    font-weight: 700;
    line-height: 37px;
    float:left;
}

.row {
    max-width: 100%;
}

.chat-area {
    background-color: #f8f7f7;
    height: 100vh;
    overflow: scroll;
    padding: 30px 30px 200px;
    background-image: url('http://www.whitestrailers.com/bot/img/house.png');
    position: relative;
    background-repeat: repeat;
}

.ducks{
    background-image: url('http://www.whitestrailers.com/bot/img/ducks.png') !important;
}

.right-callout {
    height: 100vh;
    background-image: url('http://www.whitestrailers.com/bot/img/left-bar.jpg');
    background-position: 92% 100%;
    background-color: #6962b0;
    background-repeat: no-repeat;
    position: relative;
    z-index:2;
    animation: animatedBackground 5s linear;
    animation-fill-mode: forwards;
}

.lego {
    background-image: url('http://www.whitestrailers.com/bot/img/left-bar-kids.jpg');
}

@keyframes animatedBackground {
    from { background-position: 92% 0; }
    to { background-position: 92% 100%; }
}

.right-callout img {
    width: 50%;
    display: none;
    margin: 0 auto;
    margin-top: 10%;
}

.right-callout p {
    color: white;
    margin-top: 14px;
    padding: 0 34px;
}

.right-callout .btn-callout {
    border-radius: 70px;
    background: #6dd329;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 10%;
    width: 230px;
    left: 50%;
    margin-left: -115px;
    transition:  ease-in-out 0.5s all;
}

.right-callout .btn-callout:hover {
    background: #69c62b;
}

body {
    overflow: hidden;
}

.chat-area .bot {
    background-color: #817cce;
    padding: 7px 20px;
    color: white;
    border-radius: 8px;
    max-width: 55%;
    margin-left: 90px;
    margin-top: 24px;
    position: relative;


}

.chat-area .human {
    background: white;
    padding: 7px 20px;
    color: #565656;
    border-radius: 8px;
    max-width: 55%;
    min-width: 180px;
    margin-right: 90px;
    margin-top: 24px;
    position: relative;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.18);


}

.chat-area .bot:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 13px 16px;
    border-color: transparent transparent #817cce transparent;
    position: absolute;
    top: 2px;
    left: -11px;

}

.chat-area .human:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 13px 0;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: 2px;
    right: -11px;
}

.human-wrapper, .bot-wrapper {
    float:right;
    clear: both;
    margin: 0;
}

.bot-wrapper {
    float:left;
}

.human-wrapper {
    margin-bottom: 10px;
}

.chat-area  .human-pic {
    float:right;
    width: 72px;
    height:72.5px;
    display: block;

}
.chat-area  .bot-pic {
    float:left;
    width: 72px;
    height:72.5px;
    display: block;

}
.chat-area  .human-pic img {

}

.bot-name {
    font-size: 30px;
}

.bot-job {
    position: relative;
    top: -10px;
    font-size: 15px;
}

.bot-job:after, .bot-job:before  {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 14%;
    height: 1px;
    content: '\a0';
    background-color: white;
    margin-left: 6px;
}

.bot-job:before {
    margin-left: -17%;
    text-align: right;
    margin-right: 6px;
}


h1:before, h1:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
}
h1:before {
    margin-left: -50%;
    text-align: right;
}

.logo {
    display: inline-block;
    width: 77.5px;
    height: 41.5px;
    margin: 0 auto;
    box-sizing: content-box;
    display:none;

}

.chat-input {
    width: 84%;
    margin-left: 13px;
    float: left;
    font-size: 18px;
    margin-bottom: 0;
}

.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 29px;
    height: 23px;
    margin-left: 15px;
}

.top-bar-middle {
    display: inline-block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.top-bar-left {
    display: inline-block;
    width: 10%;
    vertical-align: middle;
    height: 61px;
    float: left;
    padding-top: 17px;

}

.search-btn {
    width: 32px;
    vertical-align: middle;
    display: block;
    height: 32px;
    box-sizing: content-box;
    float: right;
    margin-right: 11px;
    outline:none;
}

.top-bar-right {
    float: right;
    width: 10%;
}

.menu-icon::after, .menu-icon::before {
    display: none;
}

.nav-page {
    color: #bbbbbb;
    font-size: 14px;
    margin-left: 10px;
    vertical-align: middle;
}

ul.btn-options {
    list-style: none;
    width: 100%;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    height: 84px;
    padding: 30px 71px;
    position: absolute;
    bottom: 118px;
    margin-left: -30px;
    z-index: 1;
}

ul.btn-options li {
    border-radius: 70px;
    border: #817cce solid 2px;
    font-size: 18px;
    text-align: center;
    padding: 10px 40px;
    display: inline;
    color: #817cce;
    font-weight: 700;
    margin-right: 30px;
    transition:  ease-in-out 0.5s all;
    cursor: pointer;
}

ul.btn-options li:hover {
    background: #817cce;
    color: white;


}

.card {
    background: white;
    /*    width: 42%;
            max-width: 305px;*/
    border-radius: 14px;
    display: inline-block;
    margin-right: 15px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(1, 1, 1, 0.1);
    -moz-box-shadow:    0px 0px 7px 0px rgba(1, 1, 1, 0.1);
    box-shadow:         0px 0px 7px 0px rgba(1, 1, 1, 0.1);
}

.card img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.house-desc {
    line-height: 20px;
    padding: 10px 0;
}

.house-btn {
    background: #817cce;
    text-align: center;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    color: white;
    /* height: 48px; */
    padding: 13px;
}

ul.card-content {
    list-style-type: none;
    padding: 15px 30px;
    margin: 0;
}

.animation-time-2 {
    animation-delay: 2s;
}


.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-50 {
    margin-top: 50px;
}

.mt-20p {
    margin-top: 20%;
}

.mt-100 {
    margin-top:100px;
}


.title-bar-left {
    float: left;
    width: 10%;
}

.title-bar-middle {
    float: left;
    width: 80%;
    text-align: center;
}

.title-bar-right {
    float: left;
    width: 10%;
    text-align: right;
}

.title-bar {
    background: white;
    color: #817cce;
    z-index: 1111;
    position: relative;
    box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ebeced;
}

.fa-bars, .fa-search {
    color: #bbbbbb;
    padding: 6px 6px 0;
    transition:  ease-in-out 0.5s all;
}







.reveal {
    /* width: 600px; */
    max-width: 100%;
    top: 2px;
    width: 100% !important;
    height: 100%;
    padding: 90px 90px;

    background-size: 100% 100%;
    color: white;
}

#search, #menu {
    background-image: url('http://www.whitestrailers.com/bot/img/menu-bg.jpg');
    background-size: cover;
}

#search a, #menu a {
    color: white;
}

#search.close-button, #menu.close-button {
    display: none;
}



/* Hamburger Animation */ 
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 64px;
    height: 41px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    float:left;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 24px;
    height: 3px;
    background: #bbbbbb;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #bbbbbb;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

.c-hamburger--htx {

}

.c-hamburger--htx span {
    transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {

}

.c-hamburger--htx.is-active span {
    background: none;
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg);
    background-color: #817cce;
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
    background-color: #817cce;
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s;
}

.time {
    font-size:10px;
    text-align: right;
    margin-top: -6px;
    opacity: 0.7;
    margin-right: -13px;

}
.fa-check {
    opacity:0.6;
}

.fa-seen {
    color: #6dd329;
    opacity:1;
}

ul {
    list-style: none;
    margin-left: 0;
    border-radius: 8px;
}

ul.sm-add li:first-child {
    position: relative;
    padding-left: 0 !important;
    padding-bottom: 8px;
    box-sizing: content-box;
    padding-top:  0 !important;
}

ul.sm-add li {
    padding-left: 14px;
    padding-top: 4px;
    padding-bottom: 3px;
    color: #2c2d30;
    cursor: pointer;
}



ul.sm-add li:first-child span {
    background-color: white;
    padding-right: 10px;
    color: #babbbf !important;

}

ul.sm-add li:first-child:before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24%;
    border-top: 1px solid #dddddd;
    z-index: -1;
    padding-bottom:5px;
}

ul.sm-add li i.fa {
    padding-right: 10px;
    color: #babbbf;
}

.dropdown-pane {

    border: 1px solid rgba(217, 217, 217, 0.75);
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
    padding: 14px 18px;
}

button.upload {
    background: #eff0f0;
    color: #6962b0;
    font-size: 30px;
    padding: 0 10px 3px;
    float:left;
}

button.upload:hover, button.upload.hover {
    background: #6962b0;
    color: white;
}

.smiley-icon {

    float: right;
    position: relative;
    -moz-transition: all 1000ms ease-in-out;
    -o-transition: all 1000ms ease-in-out;
    -webkit-transition: all 1000ms ease-in-out;
    transition: all 1000ms ease-in-out;
    margin-right: 50px;
}

.smiley-icon .open {
    position:absolute;
    background-image: url(http://www.whitestrailers.com/bot/img/smiley.png);
    width: 30px;
    height: 30px;
    background-size: 30px 60px;
    background-position: 0 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 1;
    right: 0;
}

.smiley-icon .close {
    position:absolute;
    background-image: url(http://www.whitestrailers.com/bot/img/smiley.png);
    width: 30px;
    height: 29px;
    background-position: 50% 100%;
    background-size: 28px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    right: 0;
}
.mic-icon {
    float: right;
    margin-right: 10px;
}
.mic-icon img {
    height: 26px;
}
.mic-in-use {
    width: 300px;
    color: white;
    background: red;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
    padding: 6px 0 10px;
    position: fixed;
    bottom: 73px;
    left: 50%;
    z-index: 99;
    margin-left: -300px;
}

.mic-in-use .fa-microphone {
    margin-right: 10px;
}

.chatty-off {
    width: 110px;
    color: #6962b0;
    background: white;
    margin: 0 auto;
    text-align: center;
    padding: 6px 0 10px;
    position: fixed;
    bottom: 57px;
    left: 0;
    z-index: 99;
    border: 1px solid #ebeced;
    border-bottom: 1px solid white;
}

.chatty-off p {
        margin-bottom: 2px;
    color: #cacaca;
}

.switch {
        margin-bottom: 0;
}

.emojionearea-button-open, .emojionearea-button-close {

}

.emojionearea-picker {

}

.mic-btn.fa.fa-microphone {
    color: #cccccc;
    top: 17px !important;
    width: 29px;
    height: 26px !important;
    font-size: 28px !important;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    float: left;
    margin-left: 30px;
    margin-top: 7px;
    transition:  ease-in-out 0.5s all;

}

.mic-btn.fa.fa-microphone:hover {
    color: #6962b0;
}

.emojionearea-button-open:hover {
    color: #6962b0;
}

.color-me-red {
    color: red !important;
}

.wrapper-btns {
    width:90%;
    background: green;
    margin: 0 auto;
}

.mic-btn:focus{
    outline: 0 !important;
    border:0 none !important;
}

.title-bar-right a:hover .fa-search {
    color: #817cce;
}

input.input-search {
    border: none;
    color: white;
    font-size: 60px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: rgba(255,255,255, 0.2);
    padding: 52px 46px 57px;
}

input.input-search:focus {
    //border-bottom: 2px solid white;
    background: rgba(255,255,255, 0.2);
}

ul.sm-menu {
    margin: 0 auto;
    text-align: center;

}

ul.sm-menu li {
    margin: 0 0 0.1em 0;
    padding: 0;
    list-style: none;


}

ul.sm-menu li a {
    display: block;
    /* padding: 0.5em; */
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: 700;
    padding-top: 28px;
    transition:  ease-in-out 0.5s all;
}

ul.sm-menu li hr {
    width: 50px;
    border-bottom: 4px solid white;
    margin: 5px auto;
    opacity: 0.6;
}

ul.sm-menu li a span {
    font-size: 20px;
    color:white;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 0;
    opacity:0.8;
    position: relative;
    top: -25px;
    font-weight: 400;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

ul.sm-menu li a:hover {
    background: rgba(255,255,255, 0.2);
    color: white;
    border-radius: 3px;
}

ul.sm-menu li a:hover span {
    color: white;
}

img.menu-logo {
    width: 80px;
    bottom: -90px;
    margin-top: 100px;
    text-align: right;
    float: right;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.more-info {
    color: white;
    font-size:18px;
    position: fixed;
    bottom:20px;
    left:20px;
}

.more-info .fa {
    color: white;
    margin-right: 10px;
}

.underline-link {
    border-bottom: 2px solid white;
    padding-bottom: 3px;

}

#search {
    padding-top: 105px;
}

#search.close-button {
    display: none;
}

#search p {
    line-height: 0.7;
    text-align: center;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    overflow: hidden;
}

#search p span {
    display: inline-block;
    position: relative;  
}

#search p span:before,
#search p span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    top: 0;
    width: 2000px;
}

#search p span:before {
    right: 100%;
    margin-right: 15px;
}

#search p span:after {
    left: 100%;
    margin-left: 15px;
}

#search ul {
    margin: 0 auto;
    margin-top: 0;

}

#search ul li {
    display:inline;
    margin:10px;
}

#search ul.suggestions li button {
    border: 2px solid white;
    text-align: center;
    border-radius: 50px;
    padding: 10px 30px;
    transition:  ease-in-out 0.5s all;
    cursor: pointer;
    margin-bottom: 20px;
}

#search ul.suggestions li button:hover {
    background: white;
    color: #6962b0;
}

.input-search::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
    font-weight: 300;

}

#kid.reveal {
    background-image: url(http://www.whitestrailers.com/bot/img/chatty-bg.png);
    background-color: #6962b0;
    background-size: cover;
}

#kid img {
    display: block;
    margin: 0 auto;
    max-width: 750px;
    margin-top: 10%;
}

#kid button.lets-go {
    background: #ffec41;
    color: #6962b0;
    padding: 20px 150px;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 52px;
    box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.2);
    margin-top: 8%;
}

#kid .close-button {
    color:  #ffec41;
} 


/* Hover state animation applied here */
#kid button.lets-go:hover { 
    -webkit-animation: hover 1200ms linear 2 alternate;
    animation: hover 1200ms linear 2 alternate;
}

/* Active state animation applied here */
#kid button.lets-go:active {
    -webkit-animation: active 1200ms ease 1 alternate;
    animation: active 1200ms ease 1 alternate; 
    background: #5F9BE0;
}

/* Active state animation keyframes below */

@-webkit-keyframes active { 
    0% {transform: scale(1,1);}
    90% {transform: scale(.9,.88);}
    100% {transform: scale(.92,.9);}
}

@keyframes active { 
    0% {transform: scale(1,1);}
    90% {transform: scale(.9,.88);}
    100% {transform: scale(.92,.9);}
}

/* Hover state animation keyframes below */

@-webkit-keyframes hover { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    1.8% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.5% { -webkit-transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.31% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    7.01% { -webkit-transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.91% { -webkit-transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.71% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.61% { -webkit-transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.41% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.32% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.12% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.02% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.82% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.53% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.23% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.64% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    51.45% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.86% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.27% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    73.77% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    81.18% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    88.59% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    96% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes hover { 
    0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    1.8% { -webkit-transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.016, 0, 0, 0, 0, 1.037, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    3.5% { -webkit-transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.033, 0, 0, 0, 0, 1.094, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    4.7% { -webkit-transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.045, 0, 0, 0, 0, 1.129, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    5.31% { -webkit-transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.051, 0, 0, 0, 0, 1.142, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    7.01% { -webkit-transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.068, 0, 0, 0, 0, 1.158, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    8.91% { -webkit-transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.084, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    9.41% { -webkit-transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.088, 0, 0, 0, 0, 1.132, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    10.71% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.107, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    12.61% { -webkit-transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.108, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.11% { -webkit-transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.114, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    14.41% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.067, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    16.32% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.12% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.096, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    18.72% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    20.02% { -webkit-transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.121, 0, 0, 0, 0, 1.113, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    21.82% { -webkit-transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.119, 0, 0, 0, 0, 1.119, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    24.32% { -webkit-transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.115, 0, 0, 0, 0, 1.11, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    25.53% { -webkit-transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.113, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.23% { -webkit-transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.106, 0, 0, 0, 0, 1.089, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    29.93% { -webkit-transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.105, 0, 0, 0, 0, 1.09, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    35.54% { -webkit-transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.098, 0, 0, 0, 0, 1.105, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    36.64% { -webkit-transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.097, 0, 0, 0, 0, 1.106, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    41.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    44.04% { -webkit-transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.096, 0, 0, 0, 0, 1.097, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    51.45% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    52.15% { -webkit-transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.099, 0, 0, 0, 0, 1.102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    58.86% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.099, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    63.26% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    66.27% { -webkit-transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.101, 0, 0, 0, 0, 1.101, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    73.77% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    81.18% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    85.49% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    88.59% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    96% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { -webkit-transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

.wrapper-search {
    max-width:1200px;
    margin:0 auto;
}

.timer {
    color: red;
    background: white;
    padding: 5px 10px 6px;
    font-size: 10px;
    vertical-align: middle;
    border-radius: 40px;
    margin-left: 10px;
}

.x {
    background: url(http://www.whitestrailers.com/bot/img/x.png);
    width: 30px;
    height: 30px;
    background-size: 100%;
    display: block;
    vertical-align: middle;
    margin-top: 6px;
    margin-right: 15px;
}

#team {
    transition:  ease-in-out 1s all;
}

#team.reveal {
    background-image: url(http://www.whitestrailers.com/bot/img/pattern-team.png);
    background-repeat: repeat;
    background-color: #6962b0;
    background-size: initial;
}


#team .members {
    width: 45%;
    background: white;
    color: grey;
    height: auto;
    padding: 20px;
}

#team .pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 20px;
    background-image: url(http://www.whitestrailers.com/bot/img/profile.svg);
    background-size: 100%;
}

#team .members {
    width: 45%;
    background: white;
    color: grey;
    height: auto;
    padding: 20px;
    float: left;
    margin: 20px;
}

#team h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    line-height: 0.8;
    overflow: hidden;
    margin-bottom: 22px;
}

#team h1 span {
    display: inline-block;
    font-size: 28px;
    position: relative;
}

#team h1 span:before,
#team h1 span:after {
    content: "";
    position: absolute;
    height: 12px;
    border-bottom: 1px solid white;
    top: 0;
    width: 2000px;
}

#team h1 span:before {
    right: 100%;
    margin-right: 15px;
}

#team h1 span:after {
    left: 100%;
    margin-left: 15px;
}

#team .close-button {
    color: #6962b0;
    display: block !important;
    margin-top: 80px;
    font-size: 34px;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#team .close-button:hover {
    color: white;
    background: red;
}

#team h3 {
    color: #6962b0;
}
#team p.subtitle {
    font-size: 18px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: -11px;
} 

.target {
    float:left;
    vertical-align: middle;
    padding-top: 8px;
    margin-left: -10px;
    color: #bbbbbb;
}

.target a {
    color: #bbbbbb;
}

.owl-wrapper-outer {
    padding: 40px 0;
}

.owl-item {
    width: 330px !important;
}

.person p, .person h3 {
    margin: 0;
}

.person {
    margin: 20px;
}





@media screen and (max-width: 420px) {
    .chat-input {
        width: 78%;
    }
}